@font-face {
  font-family: "Instrument";
  src: url("../fontes/Instrument.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KleeRegular";
  src: url("../fontes/KleeRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KleeBold";
  src: url("../fontes/KleeBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  transition: 0.3s ease;
  font-family: "Instrument", sans-serif;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gree: #62b153;
  --brown: #4c2102;
  --gray-light: #ebebeb;
  --gray-dark: #a7a7a7;
  --text: #1a1a1a;
  --border: 1px solid var(--gray-dark);
}

body {
  max-width: 1700px;
  margin: 0 auto;
  font-family: "Instrument", sans-serif;
  color: var(--black);
  font-size: 1rem;
  overflow: hidden;
}

main {
  margin-top: 100px;
  width: 100%;
}

a,
button,
input,
textarea {
  all: unset;
  transition: 0.3s ease;
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--black);
  transition: 0.3s ease;
}

p {
  color: var(--text);
  line-height: 1.6;
}

nav,
ul {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
}

figure {
  position: relative;
  width: fit-content;
  display: grid;
  place-items: center;
  user-select: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

img {
  transition: 0.3s ease;
}

.icon,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.icon svg {
  font-size: 1.3rem;
}
