header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 10px 20px;
  gap: 20px;
  border-bottom: var(--border);
  background-color: var(--white);
  z-index: 9999;
}

header .logo {
  &:hover {
    opacity: 0.7;
  }
}

header nav {
  width: 100%;
}

header nav ul {
  flex-direction: row;
  width: 100%;
  max-width: 550px;
  margin: auto;
  justify-content: space-between;
}

header nav ul li a {
  padding: 10px 20px;
  border-radius: 100px;

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--brown);
  }
}

header .btn {
  gap: 20px;
}

header .btn label {
  transition: 0.3s ease;
  border-radius: 100px;

  &:hover {
    background-color: var(--gray-light);
  }
}

header .btn .btn-check .icon {
  cursor: pointer;
}

header .btn:has(button) button {
  &:hover {
    color: var(--brown);
  }
}

header .btn .input-search {
  border: var(--border);
  height: 35px;
  width: 100%;
  max-width: 150px;
  padding: 0 15px;
  border-radius: 100px;
  color: var(--black);
  position: absolute;
  transform: translate(-110px, 0);
  background-color: var(--white);
  z-index: -1;
  opacity: 0;

  &:focus {
    border: 1px solid var(--black);
  }
}

header .btn .btn-check:has(:not(input:checked)) {
  & .close {
    display: none;
  }
}

header .btn .btn-check:has(input:checked) {
  & .input-search {
    z-index: 1;
    opacity: 1;
  }

  & .search {
    display: none;
  }

  & .close {
    display: flex;
  }
}

header .btn .number {
  display: grid;
  place-items: center;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: var(--border);
  color: var(--black);
}

header .btn .menu {
  display: none;
}

header .btn .menu input {
  display: none;
}

header .btn .menu .ShowHiddenMenu {
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;

  & svg {
    font-size: 2rem;
    transform: rotate(90deg);
  }
}

header .btn .menu .icon-hidden {
  display: none;
}

header .btn .menu:has(input:checked) {
  .icon-show {
    display: none;
  }

  & .icon-hidden {
    display: flex;
  }

  & .menu-mobile {
    right: 20px;
    opacity: 1;
    visibility: visible;
  }
}

header .menu-mobile {
  position: absolute;
  background-color: var(--white);
  top: 82px;
  right: -280px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  box-shadow: -3px 3px 6px #00000031;
  border-radius: 20px;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

header .menu-mobile .search {
  padding: 30px 30px 0 30px;
}

header .menu-mobile .search input {
  border: var(--border);
  height: 40px;
  padding: 0 20px;
  width: calc(100% - 30px);
  border-radius: 100px;
  display: block;

  &:focus {
    border: 1px solid var(--black);
  }
}

header .menu-mobile ul {
  flex-direction: column;
  gap: 0;
}

header .menu-mobile ul a {
  justify-content: left;
  height: 43px;
  padding: 0 30px;
  border-radius: 0;

  &:hover {
    background-color: var(--brown);
    color: var(--white);
  }
}

@media (width < 710px) {
  header .nav-desk,
  header .btn .btn-check,
  header .btn .btn-shop {
    display: none;
  }

  header .btn .menu {
    display: grid;
  }
}
